.AboutImage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.background {
    position: absolute;
    height: 100vh;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    margin-top: 106px;
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    z-index: 1;
}