.contactUs {
    color: white;
}

.contactsImage {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.background {
    position: absolute;
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

h2 {
    color: white;
    font-family: 'Amatic SC',handwriting;
    font-size: 52px;
    letter-spacing: 7px;
    line-height: 1.3em;
    z-index: 1;
}

.overlay {
    position: absolute;
    margin-top: 88px;
    height: 50vh;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
}